body {
  color: white;
  /* 単色の黒から、深みのあるグラデ-ションに変更 */
  background-color: #0d1117; /* グラデーションが効かないブラウザ用の背景色 */
  background-image: radial-gradient(ellipse at top, #211d35, #0d1117 70%);
  background-attachment: fixed; /* スクロールしてもグラデーションが動かないようにする */
}